body {
  background: #081826;
  color: #fff; }

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 0; }
  #app .fullButton {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    top: 0;
    left: 0; }
  #app audio {
    opacity: 0;
    position: absolute;
    top: -100%;
    left: -100%; }
  #app .container {
    position: relative; }
    #app .container .logo {
      width: 1.5rem;
      position: absolute;
      top: -5rem;
      left: 1rem; }
  #app .videoBox {
    max-height: 15rem;
    width: 100vw;
    text-align: center;
    background: #000; }
    #app .videoBox video {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      text-align: center; }
  #app .topText {
    position: absolute;
    width: 100%;
    top: -5rem;
    left: 0; }
    #app .topText p {
      color: #05BF7D;
      font-size: 1.2rem;
      text-align: center;
      text-shadow: 0px 0px -0.3rem rgba(5, 191, 125, 0.3); }
    #app .topText .p2 {
      margin-left: 4rem; }
  #app .bottomText {
    position: absolute;
    width: 100%;
    bottom: -5rem;
    left: 0;
    padding-left: 1rem; }
    #app .bottomText p {
      color: #B0B6D9;
      font-size: 0.7rem;
      line-height: 1.2rem;
      text-align: left; }
  #app .tips {
    color: #f0f0f0;
    font-size: 0.9rem;
    position: absolute;
    top: -1.5rem;
    left: 0;
    padding-left: 1rem;
    width: 100%; }
  #app .videoTips {
    color: #f0f0f0;
    padding: 0.35rem 0;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #111; }
  #app .step2 {
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 1rem;
    text-align: left; }
    #app .step2 .en {
      color: #afda6f;
      font-size: 1.6rem;
      text-align: left;
      margin: 0.5rem 0 0.5rem 0; }
    #app .step2 .cn {
      color: #afda6f;
      font-size: 1.3rem;
      text-align: left;
      opacity: 0.9; }
