@import 'px2rem.scss';
$designWidth: 640;


$bgColor: #081826;
// $topColor: #D9BEB4;

$bottomColor: #B0B6D9;
$tipsColor: #f0f0f0;
$tipBg: #111;
$step2TextColor: #afda6f;
$topColor: #05BF7D;

body{
  background: $bgColor;
  color: #fff;
}
#app{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 0;
  .fullButton{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    font-size: px2rem(80);
    text-align: center;
    color: #fff;
    top: 0;
    left: 0;
  }
  audio{
    opacity: 0;
    position: absolute;
    top: -100%;
    left: -100%;
  }
  .container{
    position: relative;
    .logo{
      width: px2rem(60);
      position: absolute;
      top: px2rem(-200);
      left: px2rem(40);
    }
  }
  .videoBox{
    max-height: px2rem(600);
    width: 100vw;
    text-align: center;
    background: #000;
    video{
      height: 100%;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
  .topText{
    position: absolute;
    width: 100%;
    top: px2rem(-200);
    left: 0;
    p{
      color: $topColor;
      font-size: px2rem(48);
      text-align: center;
      text-shadow: 0px 0px px2rem(-12) rgba(5, 191, 125, 0.3);
    }
    .p2{
      margin-left: px2rem(160);
    }
  }
  .bottomText {
    position: absolute;
    width: 100%;
    bottom: px2rem(-200);
    left: 0;
    padding-left: px2rem(40);
    p{
      color: $bottomColor;
      font-size: px2rem(28);
      line-height: px2rem(48);
      text-align: left;
    }
  }
  .tips{
    color: $tipsColor;
    font-size: px2rem(36);
    position: absolute;
    top: px2rem(-60);
    left: 0;
    padding-left: px2rem(40);
    width: 100%;
  }
  .videoTips{
    color: $tipsColor;
    padding: px2rem(14) 0;
    font-size: px2rem(36);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: $tipBg;
  }
  .step2{
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: px2rem(40) px2rem(40);
    text-align: left;
    .en{
      color: $step2TextColor;
      font-size: px2rem(64);
      text-align: left;
      margin: px2rem(20) 0 px2rem(20) 0;
    }
    .cn{
      color: $step2TextColor;
      font-size: px2rem(52);
      text-align: left;
      opacity: 0.9;
    }
  }
}

