<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>NoteTool - 开通会员</title>
    <meta name="Robots" content="All" />
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no, email=no" name="format-detection">
    <!--CSS-->
    <link rel="stylesheet" href="css/base.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/hotcss.js"></script>

</head>
<body>
    <div id="app">
        <div class="loadingBox" v-if="list.length === 0">
            <div class="loading"></div>
        </div>
        <div class="container" :style="{ display: list.length > 0 ? 'block' : 'none' }">
            <div @click="onShowBuy(item.id)" class="cardBox" v-for="(item) in list">
                <img class="cardBoxImg" src="img/vip_center.png" />
                <span class="price">￥{{ item.price }}</span>
                <span class="goodsName">({{ item.name }})</span>
                <span class="detail">会员每日无限次查询文字，无限次解析抖音,小红书素材</span>
            </div>
            <p class="tips">充值成功后，返回小程序，即可解析素材<br/>任何疑问请联系客服</p>

            <div class="userInfo">
                <span>当前用户:<i>【{{ userName }}】</i></span>
            </div>
        </div>
        
        <div class="modal" v-if="isShowModal">
            <div class="modalBox">
                <div class="content">
                    <span>{{ tips }}</span>
                </div>
                <div class="modalBtn" @click="modalConfirm">确认</div>
            </div>
        </div>
    </div>
    <!--JS-->
    <script src="js/vue.min.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/base.js"></script>
</body>
</html>
